* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

input {
    border: 0;
}

img {
    width: 100%;
    max-width: 400px;
}

.center {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
    padding: 0 10px;

}


.w50 {
    padding: 0 2%;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.overlay-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
}

header {
    background-color: #3D437A;
    padding: 20px 0;

}


header .logo {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px;
    padding: 0 30px;

}

nav.desktop a {
    text-decoration: none;
    color: white;

}

nav.desktop a:hover {
    text-decoration: underline;
}

.overlay {
    width: 100%;
    height: 600px;
    background-color: rgba(51, 51, 51, 0.6);
}

.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.banner-single {
    position: absolute;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner-active {
    opacity: 1;
}

.bullets-container {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;
}

.bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    margin: 0 5px;
    z-index: 100;
}

.bullet.active {
    background-color: #444;
}


section.banner-container form {
    width: 93%;
    max-width: 600px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-container form h2 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-container form input[type=email] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
    border-radius: 10px;
}

section.banner-container form input[type=submit] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #00c59e;
    color: white;
    font-size: 22px;
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
}






section.descricao-autor {
    padding: 40px 0;
}

section.descricao-autor h2 {
    font-size: 28px;
    font-weight: 400;
    color: #444;

}

section.descricao-autor p {
    color: #444;
    font-size: 16px;
    margin-top: 10px;
}

section.especialidades {
    padding: 40px 0;
    background-color: #e2e2e2;
}

section.especialidades h2.title {
    color: 999;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.box-especialidade {
    margin: 40px 0;
    text-align: center;
}

.box-especialidade h3 {
    /*color: #404580;*/
    color: #444;
    font-size: 40px;
}

.box-especialidade p {
    font-size: 15px;
    color: #444;
    margin-top: 10px;
}

.box-especialidade img {

    width: 50px;
    height: 50px;
}

section.extras {
    padding: 30px 0;
    background-color: #404580
}

.servicos-container,
.depoimentos-container {
    padding: 0 50px;
}

section.extras .title {
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.depoimento-single {
    padding: 15px 0;
    border-bottom: 1px solid #5056a0;
}

p.depoimento-descricao {
    font-size: 15px;
    color: white;
    font-weight: 300px;
}

p.nome-autor {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.erro-404 h2 {

    display: block;
    top: 50%;
    text-align: center;
    font-weight: 400;
    color: #444;
    border-top: 2px solid #444;

}

.erro-404 p {
    font-size: 16px;
    color: #444;
    font-weight: lighter;
    text-align: center;
    margin-top: 8px;
}

.wraper-404 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%, -50%);
}

#map {
    width: 100%;
    height: 400px;
    border: 0;
}

.contato-container {
    text-align: center;
    padding: 40px 0;

}

.contato-container input[type=text],
textarea {
    display: block;
    transform: translate(50%);
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin: 8px 0;
    padding-left: 8px;
    font-size: 16px;
    color: #444;
}

.contato-container textarea {
    resize: vertical;
    padding: 8px;
}

.contato-container input[type=submit] {
    background: #00c59e;
    width: 140px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.bullets {
    position: absolute;
    z-index: 5;
    transform: translateX(-50%);
}

.bullets span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #222;
}

.bulletss span.active-slider {
    background-color: white;
}

@media (max-width:768px) {

    img {
        display: block;
        margin: 0 auto;
        float: none !important;
    }


    .w50 {
        width: 100%;
        padding: 20px;
    }

    .w33 {
        width: 100%;
        padding: 20px;
    }

    .box-especialidade {
        margin: 0;
        padding: 40px 20px;
    }

}



@media (max-width:700px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .botao-menu-mobile {
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    nav.mobile ul {
        top: 55px;
        z-index: 3;
        display: none;
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
    }

    nav.mobile li {
        display: block;
        padding: 8px 0;
        font-size: 17px;
        font-weight: 300;
        background: white;
        border-bottom: 1px solid #ccc;
        ;
        font-size: 15px;
    }

    nav.mobile li a {
        display: block;
        color: #444;
        text-decoration: none;

    }

    .contato-container input[type=text],
    textarea {
        width: 100%;
        transform: none;
        margin: 8px auto;

    }
}

footer {
    background-color: #313462;
    padding: 30px 0;

}

footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.servicos ul {
    margin: 20px 0;
    list-style-position: inside;
}

.servicos li {
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    font-weight: 300;

}